$transition: .15s ease;

body {
  padding: 24px;
  background-color: var(--bg-light);
  color: var(--grayish-blue-1);
  transition: background-color .13s ease-out;

  &.dark {
    background-color: var(--bg-dark);
    color: var(--white);
  }
}

.visually-hidden {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.d-fl {
  display: flex;

  &.ai-c {
    align-items: center;
  }

  &.jc-sb {
    justify-content: space-between;
  }
}

.container {
  max-width: 470px;
  margin: 0 auto;
  transition: max-width $transition;

  &.w-bg {
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 20%);

    &.dark {
      background-color: var(--dark-2);
      box-shadow: unset;
    }
  }
}

.main-header {
  margin: 30px auto;

  .brand-area {
    span {
      font-size: 1.625rem;
      font-weight: 700;
      color: var(--bg-dark);
      transition: color $transition;
      user-select: none;

      &.dark {
        color: var(--white);
      }
    }
  }


  .ccs-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.8125rem;
    font-weight: 700;
    gap: 16px;
    justify-content: flex-end;
    color: var(--grayish-blue-1);
    text-transform: uppercase;
    transition: $transition;

    img {
      height: 20px;
    }

    &.dark {
      color: var(--white);
    }
  }
}

main {
  .searchbar-section {
    padding: 0.5rem;
    padding-left: 1rem;

    form {
      display: grid;
      grid-template-columns: 20px auto 84px;
      align-items: center;
    }

    .error {
      display: none;
    }

    img {
      width: 20px;
    }

    input {
      width: 100%;
      padding-left: 8px;
      font-size: 0.8125rem;
      border: none;
      background: none;
      color: #222731;

      &::placeholder {
        color: var(--grayish-blue-1);
      }

      &.dark {
        color: var(--white);

        &::placeholder {
          color: var(--white);
        }
      }
    }

    button {
      padding: 0.75rem 1rem;
      font-size: 0.875rem;
      border: none;
      background-color: var(--primary-blue);
      color: var(--white);
      font-weight: 700;
      cursor: pointer;
      border-radius: 10px;

      &.loading {
        position: relative;

        span {
          opacity: 0;
        }

        &::after {
          content: '';
          height: 24px;
          width: 24px;
          background-image: url('./assets/svg/progress.svg');
          background-repeat: no-repeat;
          background-size: 24px;
          position: absolute;
          top: calc(50% - 12px);
          left: calc(50% - 12px);
          animation: 1s rotate360 infinite;
        }
      }
    }
  }

  .result-section {
    padding: 24px;
    margin-top: 16px;

    &.dark {
      .user-info {
        .full-name {
          color: var(--white);
        }

        .stats-section {
          background-color: var(--bg-dark);

          .row {
            p {
              color: var(--white);
            }
          }
        }

        .additional-info-section {
          .row {
            a {
              color: var(--white);
            }
          }
        }
      }

    }

    .user-info {
      display: grid;
      grid-template-areas:
        "userPic fullName"
        "userPic username"
        "userPic dateJoined"
        "bio bio"
        "stats stats"
        "addInfo addInfo"
      ;
      font-size: 0.8125rem;
      grid-template-columns: 90px auto;

      .user-picture-area {
        grid-area: userPic;

        img {
          height: 70px;
          width: 70px;
          border-radius: 50%;
        }
      }

      .full-name,
      .username {
        margin-bottom: 6px;
      }

      .full-name {
        grid-area: fullName;
        font-size: 1rem;
        color: var(--dark-1);
      }

      .username {
        grid-area: username;
        color: var(--primary-blue);
      }

      .date-joined {
        grid-area: dateJoined;
      }

      .bio {
        grid-area: bio;
        margin-top: 40px;
      }

      .stats-section {
        grid-area: stats;
        background-color: var(--bg-light);
        display: flex;
        justify-content: center;
        gap: 30px;
        border-radius: 10px;
        padding: 10px;
        margin-top: 30px;

        .row {
          h3 {
            font-weight: 400;
            font-size: 0.8125rem;
          }

          p {
            font-weight: 700;
            color: var(--dark-1);
            font-size: 1rem;
            transition: color $transition;
          }
        }
      }

      .additional-info-section {
        grid-area: addInfo;
        display: grid;
        gap: 15px;
        margin-top: 24px;
        grid-template-areas:
          "i0"
          "i1"
          "i2"
          "i3";

        .row {
          display: flex;
          align-items: center;
          gap: 10px;

          &:nth-child(2) {
            grid-area: i0;
          }

          &:nth-child(3) {
            grid-area: i1;
          }

          &:nth-child(4) {
            grid-area: i2;
          }

          &:nth-child(5) {
            grid-area: i3;
          }


          a {
            text-decoration: none;
            color: var(--grayish-blue-1);
          }

          div {
            width: 20px;
            height: 20px;
            text-align: center;

            svg {
              height: 20px;
            }
          }

          &.not-av {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 573px;
  }

  main {
    .searchbar-section {
      padding: 0.625rem;
      padding-left: 2rem;

      form {
        grid-template-columns: 24px auto auto 100px;
      }

      img {
        width: 24px;
      }

      .error {
        display: block;
        text-align: right;
        padding-right: 24px;
        font-size: 0.9375rem;
        color: var(--danger);
        font-weight: 700;
      }

      input {
        padding-left: 24px;
        font-size: 1.125rem;
      }

      button {
        font-size: 1rem;
      }
    }

    .result-section {
      padding: 40px;

      .user-info {
        font-size: 0.9375rem;
        grid-template-columns: 137px auto;

        .user-picture-area img {
          height: 117px;
          width: 117px;
        }

        .full-name {
          font-size: 1.625rem;
        }

        .username {
          font-size: 1rem;
        }

        .stats-section {
          gap: 100px;

          .row {
            p {
              font-size: 1.375rem;
            }
          }
        }

        .additional-info-section {
          grid-template-areas:
            "i0 i2"
            "i1 i3"
          ;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .container {
    max-width: 730px;
  }

  main {
    .result-section {
      padding: 44px;
      padding-left: 48px;
    }

    .result-section .user-info {
      grid-template-areas:
        "userPic fullName dateJoined"
        "userPic username username"
        "userPic bio bio"
        "userPic stats stats"
        "userPic addInfo addInfo";
      grid-template-columns: 153px auto auto;

      .date-joined {
        text-align: right;
      }

      .full-name {
        margin-bottom: 0;
      }

      .bio {
        margin-top: 28px;
      }
    }
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}