@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;

  --primary-blue: #0079ff;
  --gray-1: #697c9a;
  --grayish-blue-1: #4b6a9b;
  --gray-3: #fefefe;
  --dark-1: #2b3442;

  --white: #ffffff;
  --dark-2: #1e2a47;


  --bg-light: #F6F8FF;
  --bg-dark: #141D2F;
  --danger: #F74646;
  --brand-dark: #222731;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none !important;
  font-family: 'Space Mono', monospace;
}